<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
  <contextName>layouts</contextName>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5level] %d{HH:mm:ss}  %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>
  <jmxConfigurator />
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
  <!-- setup log levels -->
  <!-- Tomcat server -->
  <logger name="org.apache.catalina" level="ERROR" />
  <logger name="org.apache.coyote" level="ERROR" />
  <!-- Spring framework -->
  <logger name="org.springframework" level="ERROR" />
  <!-- Database connection pool -->
  <logger name="com.zaxxer.hikari" level="ERROR" />
  <!-- Logback framework -->
  <logger name="ch.qos.logback" level="ERROR" />
  <!-- bcrypt-demo packages -->
  <logger name="de.thowl.bcryptdemo" level="ALL" />
</configuration>
